/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
:root {
    /* Gameboy and Page Colours */
    --primary: #7e5496;
    --primary-shadow: #59386d;
    --primary-highlight: #9265ac;
    --secondary: #1e212e;
    --secondary-shadow: #12131b;
    --secondary-highlight: #373f56;
    --secondary-hover: #272b3a;
    --primary-text: #ffffff;

    /* On Screen Colours */
    --yellow: #ffe96e;
    --yellow-shadow: #db783f;
    --yellow-highlight: #ffffff;
    --yellow-hover: #ffdd48;
    --green: #2a8f3b;
    --green-shadow: #0d4115;
    --green-highlight: #73d383;
    --green-hover: #196b27;
    --red: #b32e2e;
    --red-shadow: #4b0f0d;
    --red-highlight: #f39191;
    --red-hover: #992121;

    /* Game text black outline */
    --outline: drop-shadow(0px 2px 0 #000) drop-shadow(2px 0px 0 #000) drop-shadow(0px -2px 0 #000) drop-shadow(-2px 0px 0 #000);

    /* Font Families */
    --main-font: Barlow, Arial, Helvetica, sans-serif;
    --game-font: "Press Start 2P", monospace;

}

/* Typography
--------------------------------------------- */
body {
    font-family: var(--main-font);
    line-height: 1.5;
    font-size: 1.125rem;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.5rem;
}


/* Elements
--------------------------------------------- */
body {
    margin: 1rem;
    background-color: var(--secondary);
    color: var(--primary-text);
}

section {
    padding: 1.5rem;
}

button {
    cursor: pointer;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
---------------------------------------------*/
#game-header {
    max-width: 30rem;
    background-color: var(--primary);
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem auto;
}

#game-header h1 {
    margin: 0;
}


/* Main 
---------------------------------------------*/
main {
    position: relative;
    max-width: 30rem;
    margin: 1rem auto 4rem;
    overflow: hidden;
    border-radius: 2rem;
    background-color: var(--primary);
    filter: drop-shadow(-0.25rem 0 var(--primary-shadow)) drop-shadow(0.25rem 0 var(--primary-highlight)) drop-shadow(0 2rem var(--primary-shadow));
}


/* Game Area 
---------------------------------------------*/
#game-area {
    position: relative;
    padding: 0;
    margin: 1rem;
    background: linear-gradient(0deg, #448653 0%, #6da9f0 80%);
    border-radius: 1.5rem;
    box-shadow: inset 0 0 1rem #000000;
    overflow: hidden;
    filter: drop-shadow(0 -0.25rem var(--primary-shadow)) drop-shadow(0.125rem 0 var(--primary-shadow)) drop-shadow(-0.125rem 0 var(--primary-highlight));
}

#game-area h1,
#game-area h2 {
    font-family: var(--game-font);
    
    color: var(--yellow);
    font-family: var(--game-font);
    filter: drop-shadow(0px 2px 0 var(--yellow-shadow)) var(--outline);
    margin: 1rem 0;
}

#game-area p, 
#game-area label,
#game-area input[type="text"] {
    font-family: 'Press Start 2P';
    font-size: 0.875rem;
    color: #ffffff;
    filter: drop-shadow(0px 2px 0 #707070) var(--outline);
}


/* Screens */
.screen-container {
    color: var(--secondary);
    min-height: 30rem;
    display: block;
    padding: 2rem;
    text-align: center;
}


/* Splash Screen */
#splash-screen {
    background-image: url(../images/background.jpg);
    background-size: cover;
    text-align: right;
}

#splash-screen h2 {
    font-size: 1.875rem;
    margin-top: 0;
}

/* Setup Screen */
#setup-screen input[type="text"] {
    display: block;
    width: 15rem;
    margin: 0 auto 1rem;
    padding: 0.25rem;
    text-align: center;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: none;
}
#setup-screen label {
    display: inline-block;
    margin: 1rem 0;
}

#setup-screen input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid var(--yellow);
}


/* Instructions Screen */
/* #instructions-screen {
} */

#instructions-screen p {
    text-align: left;
}

/* Controls Screen */
#controls-screen p {
    text-align: left;
}

/* Game Screen */
#game-screen {
    padding: 0;
    text-align: unset;
    background-image: url(../images/PLACEHOLDER_grass_80px.jpg);
    background-attachment: fixed;
    background-size: 160px;
}

.paused::after {
    content: "Press (x) to Play";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    font-family: var(--game-font);
    filter: drop-shadow(0px 2px 0 #707070) var(--outline);
    text-align: center;
}

.speed-up-msg::after {
    content: "SPEED UP!";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.5rem;
    font-family: var(--game-font);
    filter: drop-shadow(0px 2px 0 #707070) var(--outline);
    text-align: center;
}

/* Path Blocks */
#path-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.path {
    position: absolute;
    display: inline-block;
    background-image: url(../images/PLACEHOLDER_water.gif);
    background-attachment: fixed;
    background-size: 80px;
    border-left: 4px solid #38a0ff;
    border-right: 4px solid #38a0ff;
}

.speed-up {
    filter: hue-rotate(90deg);
}

/* Distance Score */
.distance {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.best-distance {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Player */
.player {
    position: absolute;
}


.player-trail-container {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.player-trail {
    position: absolute;
    background-color: #ffffff;
}

/* Game Over Screen */
#game-over-screen {
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    grid-auto-rows: min-content;
}

#game-over-screen h2,
#game-over-screen .final-scores,
#game-over-screen .play-again-btn {
    grid-column: span 2;
}

#game-over-screen h2 {
    font-size: 2rem;
}

#game-over-screen .final-scores {
    margin: 1rem 0 2rem;
}

#game-over-screen .final-scores .score {
    position: inherit;
    top: auto;
    left: auto;
    right: auto;
    font-size: 1.25rem;
}

/* Leaderboard Screen */
.leaderboard {
    margin: 0 auto 1rem;
    font-family: var(--game-font);
    border-collapse: collapse;
}

.leaderboard tr {
    color: #ffffff;
    filter: drop-shadow(0px 2px 0 #707070) var(--outline);
}

.leaderboard td,
.leaderboard th {
    padding: 0.5rem 1rem;
}

.leaderboard .player-score {
    color: var(--yellow);
    filter: drop-shadow(0px 2px 0 var(--yellow-shadow)) var(--outline);
}

/* In-Game Button Styles */
#game-area .btn {
    border: none;
    font-family: 'Press Start 2P',monospace;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--yellow);
    color: var(--yellow-shadow);
    text-shadow: -1px 0 var(--yellow-highlight), 0 1px var(--yellow-highlight);
    box-shadow: 0px 2px 0 var(--yellow-shadow), 2px 0px 0 var(--yellow-highlight), 0px -2px 0 var(--yellow-highlight), -2px 0px 0 var(--yellow-shadow);
    filter: drop-shadow(0px 4px 0 var(--yellow-shadow)) var(--outline);
}

#game-area .btn:hover,
#game-area .btn:focus {
    background-color: var(--yellow-hover);
    filter: var(--outline);
    transform: translateY(4px);
}

#game-area .btn.green-btn {
    background-color: var(--green);
    color: #fff;
    text-shadow: -1px 0 var(--green-highlight), 0 1px var(--green-highlight);
    box-shadow: 0px 2px 0 var(--green-shadow), 2px 0px 0 var(--green-highlight), 0px -2px 0 var(--green-highlight), -2px 0px 0 var(--green-shadow);
    filter: drop-shadow(0px 4px 0 var(--green-shadow)) var(--outline);
}

#game-area .btn.green-btn:hover,
#game-area .btn.green-btn:focus {
    background-color: var(--green-hover);
    filter: var(--outline);
    transform: translateY(4px);
}

#game-area .btn.red-btn {
    background-color: var(--red);
    color: var(--red-shadow);
    text-shadow: -1px 0 var(--red-highlight), 0 1px var(--red-highlight);
    box-shadow: 0px 2px 0 var(--red-shadow), 2px 0px 0 var(--red-highlight), 0px -2px 0 var(--red-highlight), -2px 0px 0 var(--red-shadow);
    filter: drop-shadow(0px 4px 0 var(--red-shadow)) var(--outline);
}

#game-area .btn.red-btn:hover,
#game-area .btn.red-btn:focus {
    background-color: var(--red-hover);
    filter: var(--outline);
    transform: translateY(4px);
}

#game-area .btn.small-btn {
    font-size: 0.875rem;
    padding: 0.5rem;
}


/* Controls Area 
---------------------------------------------*/
#control-area {
    text-align: center;
}

#control-area .home-btn {
    display: block;
    margin: 0 auto 2rem;
    padding: 0.5rem 1rem;
    position: relative;
    top: 0px;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary);
    color: var(--secondary-highlight);
    text-shadow: 1px 0 var(--secondary-shadow), 0 -1px var(--secondary-shadow), 1px -1px var(--secondary-shadow);
    filter: drop-shadow(0 3px var(--secondary-shadow));
}

#control-area .home-btn:hover {
    background-color: var(--secondary-hover);
}

#control-area .home-btn:focus {
    top: 2px;
    background-color: var(--secondary-hover);
    filter: drop-shadow(0 1px var(--secondary-shadow));
}

button.direction-btn {
    border: none;
    background: none;
    border-radius: 50%;
    margin: 0 1rem 2rem;
}

.direction-btn svg {
    position: relative;
    top: 0px;
    height: 4rem;
    filter: drop-shadow(0 5px var(--secondary-shadow));
}

.direction-btn .button-body {
    fill: var(--secondary);
}

.direction-btn .button-arrow-shadow {
    fill:var(--secondary-shadow);
}

.direction-btn .button-arrow {
    fill:var(--secondary-highlight);
}


button.direction-btn:hover .button-body {
    fill: var(--secondary-hover);
}

/* Convert to .pressed later */
button.direction-btn.pressed svg {
    top: 3px;
    filter: drop-shadow(0 2px var(--secondary-shadow));
}
button.direction-btn.pressed .button-body {
    fill: var(--secondary-hover);
}

/* Footer */
footer {
    text-align: center;
}